<template>
  <v-layout column>
    <v-card class="pa-3">
      <v-layout row align-center>
        <v-text-field v-model="newTitle" placeholder="Наслов"></v-text-field>
      </v-layout>
      <TuiEditor language="sr_RS" v-model="newContent"/>
      <v-text-field v-model="newShortContent" placeholder="Кратак текст"></v-text-field>
      <v-btn outline color="#660d0d" @click="onPickFile">
        Додај основну слику
        <v-icon class="ml-3">add_photo_alternate</v-icon>
      </v-btn>
      <img :src="imageURL">
      <input
        type="file"
        @change="onFileSelect"
        style="display: none;"
        ref="fileInput"
        accept="image/*"
        name="image"
      >
      <v-layout row align-center>
        <p class="mr-3">Категорија</p>
        <div style="width: 200px;">
          <v-select :items="[{text:'НР Кина', value: 'kina'}, {text:'Пут свиле', value: 'putsvile'}, {text:'Нова ера', value: 'novaera'}, {text:'Сарадња Србије и НР Кине', value: 'srbijakina'}]"
            item-text="text"
            item-value="value" v-model="category"></v-select>
        </div>
      </v-layout>
      <v-btn color="#660d0d" dark @click="add">Објави</v-btn>
    </v-card>
  </v-layout>
</template>

<script>
import axios from 'axios'
import { mapState } from 'vuex'

export default {
  data() {
    return {
      newTitle: '',
      newContent: '',
      newShortContent: '',
      category: null,
      newpostID: '',
      image: null,
      imageURL: null,
      posts: null
    }
  },
  computed: {
    ...mapState('auth', {
      token: 'token',
      baseUrl: 'baseUrl'
    })
  },
  methods: {
    loadPosts() {
      let config = {
        headers: {
          'Content-Type': 'application/json',
          Authorization: 'Bearer ' + this.token
        }
      }
      axios
        .get(this.baseUrl + '/feed/posts', config)
        .then(response => {
          this.posts = response.data.posts
        })
        .catch(er => alert(er))
    },
    onPickFile() {
      this.$refs.fileInput.click()
    },
    onFileSelect(event) {
      const file = event.target.files[0]
      // console.log(file);

      let filename = file.name
      if (filename.lastIndexOf('.') <= 0) {
        return alert('Losa slika')
      }
      // console.log(filename);
      const fileReader = new FileReader()
      fileReader.addEventListener('load', () => {
        this.imageURL = fileReader.result
      })

      fileReader.readAsDataURL(file)
      this.image = file
      // console.log(this.image);
    },
    add() {
      this.newpostID = this.posts.length + 1

      // let config = {
      //   headers: { 'Content-Type': 'application/json' }
      // }

      // let data = JSON.stringify({
      //   title: this.newTitle,
      //   content: this.newContent,
      //   postID: this.newpostID
      // })

      /////////////////////////////////////////////////////
      let config = {
        headers: {
          Authorization: 'Bearer ' + this.token
        }
      }
      let dateCreated
      console.log('a kad se pravi');
      console.log(this.image);
      
      
      dateCreated = new Date().toISOString()
      const formData = new FormData()
      formData.append('title', this.newTitle)
      formData.append('content', this.newContent)
      formData.append('shortContent', this.newShortContent)
      formData.append('postID', this.newpostID)
      formData.append('image', this.image)
      formData.append('dateCreated', dateCreated)
      formData.append('category', this.category)

      axios
        .post(this.baseUrl + '/feed/post', formData, config)
        .then(response => {
          console.log('uspelo je da ide');
          
          console.log(response.data.message)
          this.$router.push('/')
        })
        .catch(error => {
          console.log('neka greska');
          
          console.log(error)
        })
    }
  },
  mounted() {
    this.loadPosts()
  }
}
</script>

<style lang="scss">
#page {
  padding-bottom: 60px;
}

$input-height: 30px;
$input-border-radius: 8px;

.v-text-field {
  position: relative; // Allow label positioning (children cannot have "position")
  margin-top: 0; // Add space for fixed label

  // Having relative position messes up labels.
  //   Labels must be positioned relative to ".v-text-field" (icon issues)
  .v-input__control,
  .v-input__slot,
  .v-text-field__slot,
  .v-menu,
  .v-menu__activator {
    position: unset;
  }

  // Align appended/preppended outer icons properly (must be fixed)
  .v-input__append-outer,
  .v-input__prepend-outer {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  // Align appended/preppended inner icons properly (can use flex)
  .v-input__append-inner,
  .v-input__prepend-inner {
    align-self: center;
    margin: 0;
    padding: 0;
  }
  .v-input__prepend-inner {
    margin-right: 8px;
  }
  .v-input__append-inner {
    margin-left: 8px;
  }

  // Input component/icons (above details)
  .v-input__slot {
    height: $input-height;
    padding: 4px 8px;
    border: 1px solid #bccaca;
    border-radius: $input-border-radius;
    transition: border-color 0.2s ease-in-out;

    // Remove default input underline
    &:before {
      display: none;
    }
    &:after {
      display: none;
    }

    input {
      padding: 0; // Reset padding
    }

    label {
      transform: translateY(-32px); // Position label vertically
      font-size: 18px;
      transition: color 0.2s ease-in-out;
    }
  }

  // Disabled input
  &.v-input--is-disabled {
    .v-input__slot {
      background-color: #eeeeee;
    }
  }

  // Error state
  &.v-input--has-state.error--text:not(.v-input--is-focused) {
    .v-input__slot {
      border-color: #ff5252; // Replacement for 'underline' behaviour
    }
  }

  // Highlight currently focused field
  &.v-input--is-focused {
    .v-input__slot {
      border-color: #880c0c; // Replacement for 'underline' behaviour
    }

    // When errors fields are focused only the border should change,
    //   and all other error colours should remain (label, icons, etc).
    &:not(.v-input--has-state):not(.error--text) {
      .v-label {
        color: #880c0c !important; // Vuetify override (".primary--text")
      }

      // Focused icon colours
      .v-input__append-inner i,
      .v-input__append-outer i,
      .v-input__prepend-inner i,
      .v-input__prepend-outer i {
        color: #880c0c !important; // Vuetify override (".primary--text")
        transition: color 0.15s ease-in-out; // Shorter transition to avoid "jump"
      }
    }
  }

  // Progress indicator
  .v-progress-linear {
    top: calc(#{$input-height} + 2px);
    left: #{$input-border-radius};
    width: calc(100% - #{$input-border-radius} * 2);
    border-radius: 2px;
  }
}

.menu__content--select {
  border-radius: 8px;
}
</style>