<template>
  <v-layout column>
    <v-layout row>
      <v-card class="userCard mr-1">
        <p class="mb-3 title font-weight-medium">Подаци корисника</p>
        <v-layout row>
          <p>Име корисника: {{userDetail.name}}</p>
        </v-layout>
        <v-layout row>
          <p>Презиме корисника: {{userDetail.surname}}</p>
        </v-layout>
        <v-layout row>
          <p>Тип корисника: {{userDetail.userType}}</p>
        </v-layout>
        <v-layout row>
          <p>Е-пошта корисника: {{userDetail.email}}</p>
        </v-layout>
        <v-layout row>
          <p>Број објава корисника: {{userDetail.posts.length}}</p>
        </v-layout>
        <v-layout row>
          <p>Број галерија корисника: {{userDetail.galleries.length}}</p>
        </v-layout>
      </v-card>
      <v-card class="userCard ml-1">
        <p class="mb-3 title font-weight-medium">Акције</p>
        <v-layout row class="mb-3" align-center>
          <v-btn color="#660d0d" dark @click="$router.push('/admin/nova-objava')">Нова објава</v-btn>
          <p class="ml-3">Напишите нову објаву</p>
        </v-layout>
        <v-layout row class="mb-3" align-center>
          <v-btn color="#660d0d" dark @click="$router.push('/admin/nova-galerija')">Нова галерија</v-btn>
          <p class="ml-3">Креирајте нову галерију</p>
        </v-layout>
      </v-card>
    </v-layout>
  </v-layout>
</template>

<script>
import { mapGetters, mapState } from "vuex";
export default {
  computed: {
    ...mapGetters("auth", {
      isAuth: "isAuth"
    }),
    ...mapState("auth", {
      userDetail: "userDetail"
    })
  }
};
</script>
