<template>
  <v-layout row class="blockTitle" style="maxHeight: 50px;">
    <div style="width: 10px; backgroundColor: #4b1111; marginRight: 10px;"></div>
    <p class="titleHeader">{{title}}</p>
  </v-layout>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true
    }
  }
}
</script>

<style>
.blockTitle {
  width: 100%;
  background-color: grey;
  padding: 10px;
}

.titleHeader {
  color: white;
  font-size: 30px;
  line-height: 1;
  font-weight: 700;
}
</style>
