<template>
  <v-layout column class="gallery" align-center>
    <h1 class="galleryTitle">Галерија</h1>
    <v-layout
      :row="$vuetify.breakpoint.width > 800 ? true : false"
      :column="$vuetify.breakpoint.width > 800 ? false : true"
      class="rowGallery"
      justify-space-between
    >
      <div
        @mouseover="expand = index"
        @mouseleave="expand = null"
        v-for="(item, index) in galleries"
        :key="index"
      >
        <img
          v-for="(img, i) in item.items"
          :key="i"
          :src="img"
          :style="expand == index ? ($vuetify.breakpoint.width > 800 ? expandCss : expandCssmobile) + (i != 0 ? expandCssMargin : '') : ($vuetify.breakpoint.width > 800 ? notExpandCss : notExpandCssMobile) + (i != 0 ? notExpandCssMargin : notExpandCssMarginMobile)"
        />
        <span v-if="expand == index" class="galleryTooltip">{{item.title}}</span>
      </div>
    </v-layout>
    <!-- :style="expand == 1? expandCss : notExpandCss" -->
    <!-- <div v-if="galleries">
      <div v-for="(item, index) in galleries" :key="index">
        <p>{{item}}</p>
      </div>
    </div>-->
  </v-layout>
</template>

<script>
import { mapActions, mapState } from "vuex";
export default {
  data() {
    return {
      expand: null,
      expandCss:
        "position: relative; width: 200px; height: 160px; boxShadow: -10px 14px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); -webkit-transform: scale(1.1); -ms-transform: scale(1.1); transform: scale(1.1);",
      expandCssMargin: "marginLeft: -100px;",
      expandCssmobile:
        "position: relative; width: 150px; height: 110px; boxShadow: -10px 14px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);",
      notExpandCss:
        "position: relative; width: 200px; height: 160px; boxShadow: -10px 14px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);",
      notExpandCssMobile:
        "position: relative; width: 150px; height: 110px; boxShadow: -10px 14px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);",
      notExpandCssMargin: "marginLeft: -150px;",
      notExpandCssMarginMobile: "marginLeft: -50px;"
    };
  },
  computed: {
    ...mapState("feed", {
      galleries: "galleries"
    })
  },

  methods: {
    ...mapActions("feed", {
      loadGalleries: "loadGalleries"
    })
  },
  created() {
    this.loadGalleries();
  }
};
</script>
