* {
  text-transform: none;
}

p {
  margin: 0;
}
.theme--dark.v-navigation-drawer {
  background-color: #4b1111 !important;
}

.btnAvatar {
  border-radius: 50%;
  width: 25px;
}

.theme--dark.application {
  background: #686868 !important;
  color: #fff;
}

.loginCard {
  max-width: 500px;
  width: 100%;
}

.userCard {
  max-width: 500px;
  max-height: 300px;
  width: 100%;
  padding: 10px;
}

.v-btn {
  margin: 0 !important;
}

.connectedPostImg {
  border-radius: 10px !important;
  display: inline-flex !important;
  height: 50px !important;
  width: 60px !important;
  margin-top: 10px !important;
}

.v-carousel {
  width: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12) !important;
}

a {
  text-decoration: none;
}

.logo {
  height: 40px;
  width: 80px;
  margin-left: 30px;
}

.editBTN {
  margin: 10px 10px 10px 0 !important;
}

.fade {
  padding: 10px;
  opacity: 0;
  height: 40%;
  position: relative;
  background-color: rgb(0, 0, 0, 0);
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
}

.inFadeText {
  position: absolute;
  color: #fff;
  opacity: 1;
  max-width: 100%;
}

.newsCard:hover > .fade {
  background-color: rgb(0, 0, 0, 0.7);
  opacity: 1;
}

.v-window-item,
.v-window__container,
.v-responsive {
  height: 100% !important;
}

.gallery {
  background-color: #573c3c;
}
.galleryTitle {
  color: #fff;
}

.aroudUrls {
  border: 1px rgb(0, 0, 0);
  max-width: 500px;
  background-color: #b1b1b1;
  padding: 10px;
  border-radius: 10px;
}

.rowGallery {
  margin-top: 60px;
  margin-bottom: 60px;
  max-width: 1140px;
  width: 100%;
}

.galleryTooltip {
  position: absolute;
  background-color: rgb(41, 4, 4, 0.8);
  border-radius: 5px;
  padding: 5px;
  color: #fff;
}