<template>
  <v-app>
    <v-navigation-drawer
      dark
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      fixed
      app
    >
      <div v-if="isAuth">
        <div v-if="userDetail">
          <v-list v-if="userDetail.userType != 'user'">
            <v-list-tile
              v-for="(item, i) in itemsAuth"
              :key="i"
              @click="$router.push(item.to)"
              exact
            >
              <v-list-tile-action>
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title v-text="item.title" />
              </v-list-tile-content>
            </v-list-tile>
          </v-list>
          <v-list v-else>
            <v-list-tile v-for="(item, i) in items" :key="i" @click="$router.push(item.to)" exact>
              <v-list-tile-action>
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title v-text="item.title" />
              </v-list-tile-content>
            </v-list-tile>
          </v-list>
        </div>
      </div>

      <v-list v-else>
        <v-list-tile v-for="(item, i) in items" :key="i" @click="$router.push(item.to)" exact>
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-text="item.title" />
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar dark :clipped-left="clipped" fixed app color="#660d0d">
      <v-layout row align-center justify-center>
        <v-layout row style="maxWidth: 1140px;">
          <v-toolbar-side-icon @click="drawer = !drawer" />
          <nuxt-link to="/">
            <img :src="'/ne.png'" class="logo" />
          </nuxt-link>

          <v-spacer></v-spacer>
          <!-- {{loadedUser}}/{{isAuth}} -->
          <v-menu offset-y v-if="isAuth & loadedUser">
            <template v-slot:activator="{ on }">
              <v-btn outline dark v-on="on">
                <img class="btnAvatar mr-2" :src="$store.state.auth.baseUrl + userDetail.imageUrl" />
                {{userDetail.name + ' ' + userDetail.surname}}
                <v-icon>keyboard_arrow_down</v-icon>
              </v-btn>
            </template>
            <v-list>
              <v-list-tile @click="onLogout">
                <v-list-tile-title>Одјава</v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-menu>

          <v-btn v-else outline @click="$router.push('/prijava')">
            <v-icon class="mr-1">account_circle</v-icon>Пријава
          </v-btn>
        </v-layout>
      </v-layout>
    </v-toolbar>
    <v-content>
      <v-layout
        column
        align-center
        :class="$vuetify.breakpoint.xs === false & $vuetify.breakpoint.sm === false ? 'pt-3' : ''"
        :style="$vuetify.breakpoint.width < 1160 ? 'paddingLeft: 3%; paddingRight: 3%;' : ''"
      >
        <nuxt
          :style="{maxWidth: '1140px', width: '100%', minHeight: $vuetify.breakpoint.height + 'px'}"
        />
      </v-layout>
      <special-block />
      <gallery />
      <main-footer />
    </v-content>
    <!-- <v-navigation-drawer v-model="rightDrawer" :right="right" temporary fixed>
      <v-list>
        <v-list-tile @click.native="right = !right">
          <v-list-tile-action>
            <v-icon light>compare_arrows</v-icon>
          </v-list-tile-action>
          <v-list-tile-title>Switch drawer (click me)</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>-->
  </v-app>
</template>

<script>
import { mapActions, mapGetters, mapState } from 'vuex'

export default {
  middleware: ['check-auth', 'load-user'],
  data() {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      itemsAuth: [
        {
          icon: 'home',
          title: 'Почетна',
          to: '/'
        },
        {
          icon: 'account_circle',
          title: 'Администрација',
          to: '/admin'
        }
      ],
      items: [
        {
          icon: 'home',
          title: 'Почетна',
          to: '/'
        }
      ],
      miniVariant: false,
      title: 'Vuetify.js',
      loadedUser: false
    }
  },
  computed: {
    ...mapGetters('auth', {
      isAuth: 'isAuth'
    }),
    ...mapState('auth', {
      userDetail: 'userDetail'
    })
  },
  methods: {
    ...mapActions('auth', {
      loadUserInfo: 'loadUserInfo'
    }),
    ...mapActions('auth', {
      logout: 'logout'
    }),
    onLogout() {
      this.logout()
      this.loadedUser = false
      console.log('izvrsava se')
    },
    onLoadUser() {
      this.loadUserInfo()
      // setTimeout(this.toggle(), 1000)
    }
  },
  watch: {
    userDetail: function() {
      if (this.userDetail) {
        this.loadedUser = true
      }
    }
  },
  beforeMount() {
    console.log(this.$store.state.auth.userDetail)
  },
  mounted() {
    if (this.isAuth === true) {
      this.loadUserInfo()
    }
  }
}
</script>
