
<template>
  <v-layout column v-if="loadedPost">
    <div style="position: relative; width: 100%;" class="mb-3" v-if="editMode === false">
      <v-img
        :aspect-ratio="3"
        style="width: 100%;"
        :src="$store.state.auth.baseUrl + '/' + post.imageUrl"
        class="slika"
        ref="slika"
      ></v-img>

      <h2
        :style="{fontSize: titleFontSize, top: $vuetify.breakpoint.width > 1160 ? '250px' : $vuetify.breakpoint.width/3 - 110 + 'px' }"
        class="osnovaNaslova"
      >
        <p class="drugiSloj">{{post.title}}</p>
      </h2>
    </div>
    <!-- {{$vuetify.breakpoint.width}} -->
    <v-layout row v-if="isAuth" style="maxHeight: 50px;">
      <v-btn
        @click="startEdit"
        flat
        icon
        color="#880c0c"
        v-if="userDetail.userType == 'superuser' || userDetail.userType == 'administrator'"
      >
        <v-icon>create</v-icon>
      </v-btn>
    </v-layout>

    <v-layout
      :row="$vuetify.breakpoint.width > 1150 ? true : false"
      :column="$vuetify.breakpoint.width > 1150 ? false : true"
    >
      <v-layout column :style="{width: mainLayerWidth}" justify-start>
        <v-layout column v-if="editMode === false">
          <div class="pa-2 shortContent">{{post.shortContent}}</div>
          <TuiEditorViewer :value="post.content" />
        </v-layout>
        <v-layout column v-if="editMode === true">
          <v-text-field v-model="title"></v-text-field>
          <v-text-field v-model="shortContent"></v-text-field>
          <TuiEditor language="sr_RS" v-model="content" />
          <!-- <v-btn @click="onPickFile">Dodaj sliku</v-btn> -->
          <v-btn outline color="#660d0d" @click="onPickFile">
            Промени основну слику
            <v-icon class="ml-3">add_photo_alternate</v-icon>
          </v-btn>
          <input
            type="file"
            @change="onFileSelect"
            style="display: none;"
            ref="fileInput"
            accept="image/*"
            name="image"
          />
          <img :src="this.image === null ? $store.state.auth.baseUrl + '/' + imageUrl : imageURL" />
          <v-layout row>
            <v-btn dark small color="#660d0d" @click="edit" class="editBTN">
              <v-icon class="mr-2">save</v-icon>Сачувај промене
            </v-btn>
            <v-btn dark small color="#660d0d" @click="editMode = false" class="editBTN">
              <v-icon class="mr-2">clear</v-icon>Одбаци промене
            </v-btn>
            <v-btn dark small color="#660d0d" @click="deletePost" class="editBTN">
              <v-icon class="mr-2">delete</v-icon>Обриши објаву
            </v-btn>
          </v-layout>
        </v-layout>
      </v-layout>
      <v-layout
        column
        :style="{width: rightLayerWidth}"
        :class="$vuetify.breakpoint.width > 1150 ? 'pl-3' : ''"
      >
        <!-- dasdasdasdad -->
        <v-card>
          <v-list three-line>
            <template v-for="item in connectedPosts">
              <v-list-tile :key="item.title" avatar @click="$router.push('/' + item.postID)">
                <v-list-tile-avatar>
                  <img
                    class="connectedPostImg"
                    :src="$store.state.auth.baseUrl + '/' + item.imageUrl"
                  />
                </v-list-tile-avatar>

                <v-list-tile-content>
                  <v-list-tile-title v-html="item.title"></v-list-tile-title>
                  <v-list-tile-sub-title v-html="item.shortContent.substr(0, 55) + '...'"></v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>
            </template>
          </v-list>
        </v-card>
        <!-- paosfoapijfosjdfps -->
      </v-layout>
    </v-layout>
  </v-layout>
</template>

<script>
import axios from "axios";
import { mapGetters, mapState, mapActions } from "vuex";
import { Promise } from "q";

export default {
  head() {
    return {
      title: this.post ? "Нова ера - " + this.post.title : "Нова ера",
      meta: [
        { name: "title", content: this.post ? this.post.title : null },
        {
          hid: "description",
          name: "title",
          content: this.post ? this.post.shortContent : null
        },

        // Ovi ispod su za Faceboook
        { property: "og:type", content: "website" },
        { property: "og:url", content: "http://159.69.147.138/" },
        { property: "og:title", content: this.post ? this.post.title : null },
        {
          property: "og:description",
          content: this.post ? this.post.shortContent : 'Nova era'
        },
        {
          property: "og:image",
          content: this.post
            ? "http://159.69.147.138" +
              this.$store.state.auth.baseUrl +
              "/" +
              this.post.imageUrl
            : 'Nova era'
        },

        // Ovi su za twiter
        { property: "twitter:card", content: "summary_large_image" },
        { property: "twitter:url", content: "http://159.69.147.138/" },
        {
          property: "twitter:title",
          content: this.post ? this.post.title : null
        },
        {
          property: "twitter:description",
          content: this.post ? this.post.shortContent : null
        },
        {
          property: "twitter:image",
          content: this.post
            ? this.$store.state.auth.baseUrl + "/" + this.post.imageUrl
            : null
        }
      ]
    };
  },
  data() {
    return {
      editMode: false,
      title: null,
      content: null,
      shortContent: null,
      imageUrl: null,
      image: null,
      category: null,
      post: null,
      loadedPost: null,
      connectedPosts: null
    };
  },
  computed: {
    ...mapState("auth", {
      userDetail: "userDetail",
      baseUrl: "baseUrl",
      token: "token"
    }),
    ...mapGetters("auth", {
      isAuth: "isAuth"
    }),
    dymanicImage() {
      if (this.image === null) {
        return "/api/" + this.imageUrl;
      } else {
        return this.imageURL;
      }
    },
    ////////// Stilovi ///////////////////////////////////////////////
    titleFontSize() {
      switch (this.$vuetify.breakpoint.name) {
        case "xs":
          return "20px";
        case "sm":
          return "25px";
        case "md":
          return "30px";
        case "lg":
          return "40px";
        case "xl":
          return "80px";
      }
    },
    mainLayerWidth() {
      if (this.$vuetify.breakpoint.width > 1150) {
        return "70%";
      } else {
        return "100%";
      }
    },
    rightLayerWidth() {
      if (this.$vuetify.breakpoint.width > 1150) {
        return "30%";
      } else {
        return "100%";
      }
    },
    odstupSlike() {
      return this.$refs.slika.$el.clientHeight;
    }
  },
  methods: {
    ...mapActions("auth", {
      loadUserInfo: "loadUserInfo"
    }),
    log() {
      console.log(this.$refs);
    },
    onPickFile() {
      this.$refs.fileInput.click();
    },
    onFileSelect(event) {
      const file = event.target.files[0];
      let filename = file.name;
      if (filename.lastIndexOf(".") <= 0) {
        return alert("Losa slika");
      }
      // console.log(filename);
      const fileReader = new FileReader();
      fileReader.addEventListener("load", () => {
        this.imageURL = fileReader.result;
      });
      fileReader.readAsDataURL(file);
      this.image = file;
      console.log("asasasa");

      console.log(this.image);
    },
    startEdit() {
      this.editMode = true;
      this.title = this.post.title;
      this.content = this.post.content;
      this.imageUrl = this.post.imageUrl;
      this.shortContent = this.post.shortContent;
      this.category = this.post.category;
    },
    edit() {
      let config = {
        headers: {
          Authorization: "Bearer " + this.token
        }
      };
      const formData = new FormData();

      if (this.image) {
        formData.append("image", this.image);
      } else {
        formData.append("imageUrl", this.imageUrl);
      }
      formData.append("title", this.title);
      formData.append("content", this.content);
      formData.append("shortContent", this.shortContent);
      formData.append("category", this.category);

      const axiosURL = this.baseUrl + "/feed/post/" + this.post.postID;

      axios
        .put(axiosURL, formData, config)
        .then(response => {
          console.log(response.data.message);
          this.$router.push("/");
        })
        .catch(error => {
          console.log(error);
        });
    },
    deletePost() {
      const axiosURL = this.baseUrl + "/feed/post/" + this.post.postID;
      let config = {
        headers: {
          Authorization: "Bearer " + this.token
        }
      };
      let data = JSON.stringify({
        postID: this.post.postID
      });
      axios
        .delete(axiosURL, config)
        .then(response => {
          alert(response.data.message);
        })
        .then(this.$router.push("/"));
    },
    loadConectedPosts() {
      let config = {
        headers: {
          "Content-Type": "application/json"
        }
      };
      axios
        .get(
          this.baseUrl +
            "/feed/spcificPosts?number=" +
            5 +
            "&category=" +
            this.post.category +
            "&current=" +
            this.post.postID,
          config
        )
        .then(response => {
          this.connectedPosts = response.data.posts;
        })
        .catch(er => alert(er));
    },
    loadPost() {
      console.log(this.$router.currentRoute.path.split("/")[1]);
      let config = {
        headers: {
          "Content-Type": "application/json"
        }
      };
      axios
        .get(
          this.baseUrl +
            "/feed/post?postID=" +
            this.$router.currentRoute.path.split("/")[1],
          config
        )
        .then(response => {
          this.post = response.data.post;
          this.loadConectedPosts();
          this.loadedPost = true;
        })
        .catch(er => alert(er));
    }
  },
  // async asyncData({ params, error }) {
  //   const { data } = await axios.get(
  //     `http://localhost:8080/feed/post/${params.id}`
  //   )
  //   return { post: data.post }
  // },
  mounted() {
    Promise.resolve(this.loadUserInfo())
      .then(() => {
        // Успешное завершение всех запросов
        Promise.resolve().then(
          setTimeout(() => {
            this.loadPost();
          }, 300)
        );
      })
      .catch(e => {
        console.error(e);
      });
  }
};
</script>

<style>
.osnovaNaslova {
  position: absolute;
  left: 0;
  width: 100%;
}

.drugiSloj {
  color: white;
  letter-spacing: -1px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
}
</style>
