<template>
  <v-layout column>
    <!-- {{$vuetify.breakpoint.width}} -->
    <!-- {{$store.state.auth.baseUrl}} -->
    <div class="lastNews mb-3">
      <block-header :title="'Најновије'" />
      <v-carousel
        style="height: 300px;"
        v-if="latestNews != null & $vuetify.breakpoint.width > 800"
        hide-delimiters
      >
        <v-carousel-item v-for="n in 3" :key="n">
          <v-layout row style="width: 100%; height: 100%;">
            <nuxt-link
              :to="'/' + latestNews[getIndex(n, 'left')].postID"
              style="width: 100%; height: 100%;"
              class="mr-2"
            >
              <v-card
                class="newsCard"
                :style="{width: '100%', height: '100%', backgroundColor: 'white', backgroundImage: 'url(' + $store.state.auth.baseUrl + '/' + latestNews[getIndex(n, 'left')].imageUrl}"
              >
                <div style="height: 60%;">
                  <span class="inFadeText LNtitle">{{latestNews[getIndex(n, 'left')].title}}</span>
                </div>
                <div class="fade" v-if="$device.isDesktop">
                  <div class="inFadeText">{{latestNews[getIndex(n, 'left')].shortContent}}</div>
                </div>
              </v-card>
            </nuxt-link>
            <nuxt-link
              :to="'/' + latestNews[getIndex(n, 'right')].postID"
              style="width: 100%; height: 100%;"
              class="ml-2"
            >
              <v-card
                class="newsCard"
                :style="{width: '100%', height: '100%', backgroundColor: 'white', backgroundImage: 'url(' + $store.state.auth.baseUrl + '/' + latestNews[getIndex(n, 'right')].imageUrl}"
              >
                <div style="height: 60%;">
                  <span class="inFadeText LNtitle">{{latestNews[getIndex(n, 'right')].title}}</span>
                </div>
                <div class="fade" v-if="$device.isDesktop">
                  <div class="inFadeText">{{latestNews[getIndex(n, 'right')].shortContent}}</div>
                </div>
              </v-card>
            </nuxt-link>
          </v-layout>
        </v-carousel-item>
      </v-carousel>
      <v-layout column v-if="latestNews != null & $vuetify.breakpoint.width <= 800">
        <nuxt-link
          v-for="(post, index) in latestNews"
          :key="index"
          :to="'/' + post.postID"
          style="width: 100%; height: 300px;"
          class="mb-2"
        >
          <v-card
            :style="{width: '100%', height: '100%', backgroundColor: 'white', backgroundImage: 'url(' + $store.state.auth.baseUrl + '/' + post.imageUrl, padding: '45px'}"
          >
            <span class="LNtitle">{{post.title}}</span>
          </v-card>
        </nuxt-link>
      </v-layout>
    </div>

    <v-layout
      :row="$vuetify.breakpoint.width > 800? true : false"
      :column="$vuetify.breakpoint.width > 800? false : true"
    >
      <v-layout column :class="$vuetify.breakpoint.width > 800? 'mr-2' : ''" style="width: 100%;">
        <block-header :title="'НР Кина'" />
        <nuxt-link
          v-for="(post, index) in kinaNews"
          :key="index"
          :to="'/' + post.postID"
          style="width: 100%; height: 300px;"
          class="mb-2"
        >
          <v-card
            class="newsCard"
            :style="{width: '100%', height: '100%', backgroundColor: 'white', backgroundImage: 'url(' + $store.state.auth.baseUrl + '/' + post.imageUrl}"
          >
            <div style="height: 60%;">
              <span class="inFadeText LNtitle">{{post.title}}</span>
            </div>
            <div class="fade" v-if="$device.isDesktop">
              <div class="inFadeText">{{post.shortContent}}</div>
            </div>
          </v-card>
        </nuxt-link>
      </v-layout>
      <v-layout column :class="$vuetify.breakpoint.width > 800? 'ml-2' : ''" style="width: 100%;">
        <block-header :title="'Пут свиле'" />
        <nuxt-link
          v-for="(post, index) in putsvileNews"
          :key="index"
          :to="'/' + post.postID"
          style="width: 100%; height: 300px;"
          class="mb-2"
        >
          <v-card
            class="newsCard"
            :style="{width: '100%', height: '100%', backgroundColor: 'white', backgroundImage: 'url(' + $store.state.auth.baseUrl + '/' + post.imageUrl}"
          >
            <div style="height: 60%;">
              <span class="inFadeText LNtitle">{{post.title}}</span>
            </div>
            <div class="fade" v-if="$device.isDesktop">
              <div class="inFadeText">{{post.shortContent}}</div>
            </div>
          </v-card>
        </nuxt-link>
      </v-layout>
    </v-layout>
  </v-layout>
</template>

<script>
import axios from "axios";
import { mapState, mapActions } from "vuex";

export default {
  data() {
    return {
      posts: [],
      latestNews: null,
      kinaNews: null,
      putsvileNews: null
    };
  },
  computed: {
    ...mapState("auth", {
      baseUrl: "baseUrl"
    })
  },
  methods: {
    loadPosts() {
      let config = {
        headers: {
          "Content-Type": "application/json",
          Authorization: "Bearer " + this.token
        }
      };
      axios
        .get(this.baseUrl + "/feed/posts", config)
        .then(response => {
          this.posts = response.data.posts.slice().reverse();
        })
        .catch(er => alert(er));
    },
    loadLastNews() {
      let config = {
        headers: {
          "Content-Type": "application/json"
        }
      };
      axios
        .get(this.baseUrl + "/feed/spcificPosts?number=" + 6, config)
        .then(response => {
          this.latestNews = response.data.posts;
        })
        .catch(er => alert(er));

      axios
        .get(
          this.baseUrl + "/feed/spcificPosts?number=" + 5 + "&category=kina",
          config
        )
        .then(response => {
          this.kinaNews = response.data.posts;
        })
        .catch(er => alert(er));

      axios
        .get(
          this.baseUrl +
            "/feed/spcificPosts?number=" +
            5 +
            "&category=putsvile",
          config
        )
        .then(response => {
          this.putsvileNews = response.data.posts;
        })
        .catch(er => alert(er));
    },
    getIndex(index, value) {
      if (value == "left") {
        return index == 1 ? 0 : index == 2 ? index : index == 3 ? 4 : null;
      }
      if (value == "right") {
        return index == 1 ? 1 : index == 2 ? 3 : index == 3 ? 5 : null;
      }
    }
  },
  mounted() {
    Promise.resolve(this.loadPosts())
      .then(
        setTimeout(() => {
          this.loadLastNews();
        }, 300)
      )
      .catch(e => {
        console.error(e);
      });
  }
};
</script>

<style>
.postPreview {
  margin-bottom: 15px;
}

.LNtitle {
  color: rgb(255, 255, 255);
  background: rgb(74, 16, 16, 0.9);
  padding: 5px;
  font-size: 25px;
  font-weight: 600;
  text-decoration: none;
}
</style>
