<template>
  <v-layout column align-center>
    <v-card class="pa-3 loginCard">
      <p class="loginLabel">Електронска пошта</p>
      <v-text-field  v-model="email"></v-text-field>
      <p>Лозинка</p>
      <v-text-field v-model="password"></v-text-field>
      <v-btn @click="onLogin" dark color="#880c0c">Пријавите се</v-btn>
      <p class="mt-3">Немате налог? <nuxt-link class="link" to="/registracija'">Региструјте се</nuxt-link></p>
    </v-card>
  </v-layout>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import axios from 'axios'

export default {
  //   async asyncData() {
  //     const { data } = await axios.get('http://localhost:8080/feed/posts')
  //     return { posts: data.posts }
  //   },
  data() {
    return {
      password: '',
      email: ''
    }
  },
  computed: {
    ...mapState('auth', {
      userInfo: 'userInfo'
    })
  },
  methods: {
    ...mapActions('auth', {
      loadUserInfo: 'loadUserInfo'
    }),
    ...mapActions('auth', {
      login: 'login'
    }),
    onLogin() {
      //   const formData = new FormData()
      //   formData.append('name', this.name)
      //   formData.append('email', this.email)
      //   formData.append('password', this.password)
      //   formData.append('userID', this.userID)

      let config = {
        headers: { 'Content-Type': 'application/json' }
      }

      let data = JSON.stringify({
        email: this.email,
        password: this.password
      })

      this.login(data)
      this.loadUserInfo()
      this.$router.push('/')
    }
  }
}
</script>

