<template>
  <v-layout column>
    <p>Ime</p>
    <v-text-field v-model="name"></v-text-field>
    <p>Prezime</p>
    <v-text-field v-model="surname"></v-text-field>
    <p>email</p>
    <v-text-field v-model="email"></v-text-field>
    <p>password</p>
    <v-text-field v-model="password"></v-text-field>
    <!-- <v-btn @click="onPickFile">Dudaj sliku</v-btn>
    <img :src="imageURL">
    <input
      type="file"
      @change="onFileSelect"
      style="display: none;"
      ref="fileInput"
      accept="image/*"
      name="image"
    >-->

    <v-btn @click="add">Registruj se</v-btn>
  </v-layout>
</template>

<script>
import axios from 'axios'
import { mapState } from 'vuex'

export default {
  //   async asyncData() {
  //     const { data } = await axios.get('http://localhost:8080/feed/posts')
  //     return { posts: data.posts }
  //   },
  data() {
    return {
      name: '',
      surname: '',
      email: '',
      password: '',
      users: null
    }
  },
  methods: {
    loadUsers() {
      let config = {
        headers: {
          'Content-Type': 'application/json',
          Authorization: 'Bearer ' + this.token
        }
      }
      axios
        .get(this.baseUrl + '/feed/users', config)
        .then(response => {
          this.users = response.data.users
        })
        .catch(er => alert(er))
    },
    add() {
      //   const formData = new FormData()
      //   formData.append('name', this.name)
      //   formData.append('email', this.email)
      //   formData.append('password', this.password)
      //   formData.append('userID', this.userID)

      let config = {
        headers: { 'Content-Type': 'application/json' }
      }

      let userID

      userID = this.users.length + 1

      let data = JSON.stringify({
        name: this.name,
        surname: this.surname,
        email: this.email,
        password: this.password,
        userID: userID
      })

      axios
        .post(this.baseUrl + '/auth/signup', data, config)
        .then(response => {
          console.log(response.data.message)
          this.$router.push('/')
        })
        .catch(error => {
          console.log(error)
        })
    }
  },
  computed: {
    ...mapState('auth', {
      auth: 'auth',
      baseUrl: 'baseUrl'
    })
  },
  mounted() {
    this.loadUsers()
  }
}
</script>
